:root {
  --header-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --socials-color: #303030;
  --main-text-color: #9DA4BD;
  --second-text-color: rgba(157, 164, 189, 0.6);
  --third-text-color: #555555;
  --fourth-text-color: #303030;
  --fifth-text-color: #ffffff;
  --second-bg-color: #191C26;
  --main-bg-color: #F7F7F7;
  --typical-margin: 20px;
}

.page {
  font-family: "Open Sans", Tahoma, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.top-text::before {
  content: "";
  width: 63px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.title {
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 479px) {
  .title {
    font-size: 8.5vw;
  }
}

.socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #303030;
}

.socials-list__link:hover {
  fill: #ff6c00;
}

.socials-list__icon {
  width: 20px;
  height: 20px;
}

.header {
  position: absolute;
  width: 100%;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header__box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__logo {
  margin-right: 51px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    fill: #FFFFFF;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    fill: #303030;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 70px;
  }
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 40px;
  }
}

.header__conect {
  margin-left: auto;
  margin-right: 4px;
}

@media screen and (max-width: 767px) {
  .header__conect {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__conect {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__conect {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.header__link,
.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}

.header__link:hover,
.header__tel:hover {
  color: var(--accent-color);
}

.header__btn {
  color: var(--main-btn-color);
}

@media screen and (min-width: 1200px) {
  .header__btn {
    margin-left: 60px;
  }
}

.header__btn:hover {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.menu-open-btn,
.menu-close-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--header-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn,
  .menu-close-btn {
    display: none;
  }
}

.menu-open-btn:hover, .menu-open-btn:focus,
.menu-close-btn:hover,
.menu-close-btn:focus {
  color: var(--accent-color);
}

.menu-close-btn {
  margin-bottom: 30px;
  color: #303030;
}

.menu-mob {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(25, 28, 38, 0.2);
  width: 100vw;
  height: 100vh;
  padding-left: 133px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--typical-transition-duration) var(--typical-transition-timing-function), visibility var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.menu-mob.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

@media screen and (max-width: 430px) {
  .menu-mob {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-mob {
    display: none;
  }
}

.menu-mob__container {
  background-color: #fff;
  height: 100%;
  padding: 48px 31px 118px 50px;
}

.menu-mob__nav {
  margin-bottom: 64px;
}

.menu-mob__conect {
  margin-bottom: 64px;
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-mob__link,
.menu-mob__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1,38;
  letter-spacing: 0.1em;
  color: var(-fourth-text-color);
}

.menu-mob__link:hover, .menu-mob__link:focus,
.menu-mob__tel:hover,
.menu-mob__tel:focus {
  color: var(--accent-color);
}

.menu-mob__tel {
  display: block;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.menu-mob__social-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1,36;
  letter-spacing: 0.2em;
  color: var(--socials-color);
}

.menu-mob__social-link:hover, .menu-mob__social-link:focus {
  color: var(--accent-color);
}

.menu-mob__social-list {
  position: relative;
  padding-left: 100px;
}

.menu-mob__social-list::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #303030;
  left: 0;
  top: 10px;
}

.menu-mob__btn {
  width: 194px;
}

.menu-mob__btn:hover {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.hero {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1280px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-color: #111319;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/call/SliderImg-mob1x.jpg);
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/call/SliderImg-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__box {
    display: flex;
  }
}

.hero__list-box {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 93px;
  padding: 40px 27px;
}

@media screen and (max-width: 767px) {
  .hero__list-box {
    display: none;
  }
}

.hero__content {
  flex-grow: 1;
  padding: 208px 0 183px 11px;
}

@media screen and (min-width: 480px) {
  .hero__content {
    padding: 208px 0 183px 31px;
  }
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding: 280px 0 234px 70px;
    background-color: #111319;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/call/SliderImg-tab1x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/call/SliderImg-tab2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 272px 0 206px 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/call/SliderImg3.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/call/SliderImg-desc2x.jpg);
  }
}

.hero__top-text {
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway", Tahoma, sans-serif;
  font-size: 56px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 12vw;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__bottom-text {
  color: var(--main-text-color);
  max-width: 400px;
}

@media screen and (max-width: 1199px) {
  .hero__bottom-text {
    font-size: 16px;
    line-height: 1.62;
  }
}

.hero__list {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: top left;
}

.hero__list:before {
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 40px;
  background-color: var(--socials-color);
}

.hero__item + .hero__item {
  margin-left: 40px;
}

.hero__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--socials-color);
}

.hero__link:hover {
  color: var(--accent-color);
}

.about__box {
  display: flex;
}

.about__list {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    flex-direction: row;
    margin-right: 64px;
    flex-shrink: 0;
  }
}

.about__description {
  max-width: 418px;
}

@media screen and (min-width: 768px) {
  .about__description {
    max-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .about__description {
    max-width: 475px;
  }
}

.about__top-text {
  margin-bottom: var(--typical-margin);
  color: var(--fourth-text-color);
}

.about__title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}

@media screen and (max-width: 1199px) {
  .about__title {
    font-size: 28px;
  }
}

.about__bottom-text {
  margin-bottom: var(--typical-margin);
  color: var(--third-text-color);
}

@media screen and (max-width: 1199px) {
  .about__bottom-text {
    font-size: 16px;
    line-height: 1.62;
  }
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.about__item + .about__item {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .about__item + .about__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.about__btn {
  color: var(--second-btn-color);
}

.about__btn:hover {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.prices {
  margin: 0 auto;
  background-color: #111319;
  background-image: url(../images/prices/pricesBgmob1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/pricesBgmob2x.png);
  }
}

@media screen and (min-width: 480px) {
  .prices {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .prices {
    max-width: 768px;
    background-image: url(../images/prices/pricesBgtab1x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/pricesBgtab2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .prices {
    max-width: 1280px;
    background-image: url(../images/prices/pricesBg.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/pricesBgdesc2x.png);
  }
}

.prices__top-text {
  margin-bottom: var(--typical-margin);
  color: var(--second-text-color);
}

.prices__title {
  margin-bottom: 44px;
  color: var(--main-title-color);
}

.prices__box {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .prices__box {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .prices__box {
    display: flex;
  }
}

.prices__list {
  flex-grow: 1;
  padding: 30px 30px;
}

@media screen and (min-width: 768px) {
  .prices__list {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 1199px) {
  .prices__list:first-child {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .prices__list:first-child {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (max-width: 1199px) {
  .prices__list:nth-child(2) {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .prices__list:nth-child(2) {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices__item:not(:last-child) {
  margin-bottom: var(--typical-margin);
}

.prices__item::after {
  content: "";
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.prices__item-text {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .prices__item-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .prices__item-text {
    font-size: 3vw;
  }
}

.prices__item-text:last-child {
  order: 1;
}

.prices__btn {
  margin: auto;
  color: var(--main-btn-color);
}

.prices__btn:hover {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.reasons__box {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 1200px) {
  .reasons__box {
    flex-direction: row;
  }
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reasons__list {
    width: 450px;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .reasons__list {
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.reasons__case {
  width: 130px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .reasons__case {
    width: calc(100% - 20px);
  }
}

.reasons__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--fourth-text-color);
}

.reasons__description {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .reasons__description {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .reasons__description {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .reasons__description {
    width: 50%;
    padding-left: 30px;
  }
}

.reasons__top-text {
  margin-bottom: var(--typical-margin);
  color: var(--fourth-text-color);
}

.reasons__title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}

.reasons__bottom-text {
  color: var(--third-text-color);
  max-width: 500px;
}

.reasons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 130px;
  background-color: var(--main-bg-color);
}

@media screen and (max-width: 479px) {
  .reasons__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .reasons__item {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .reasons__item {
    width: 170px;
  }
}

.reasons__item:nth-child(2n + 1) {
  margin-right: 30px;
}

.reasons__item:nth-child(2n) {
  margin-top: 30px;
}

.reasons__count {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--fourth-text-color);
}

.reasons__count::after {
  content: "";
  display: inline-block;
  background-image: url(../images/+.svg);
  width: 13px;
  height: 22px;
  fill: #FF6C00;
  margin-left: 3px;
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: bottom;
  vertical-align: text-top;
}

.masters {
  margin: 0 auto;
  background-color: var(--main-bg-color);
}

.masters__top-text {
  margin-bottom: var(--typical-margin);
  color: var(--fourth-text-color);
}

.masters__title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}

@media screen and (max-width: 1199px) {
  .masters__list {
    margin-bottom: -64px;
  }
}

@media screen and (min-width: 1200px) {
  .masters__list {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
  }
}

.masters__name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .masters .container {
    width: 480px;
  }
}

@media screen and (max-width: 1199px) {
  .masters__item {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .masters__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.portfolio__top-text {
  margin-bottom: 44px;
  color: var(--fourth-text-color);
}

.portfolio__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc(100% / 4 - 30px);
  }
}

.prefooter {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--second-bg-color);
  background-image: url(../images/contacts/contactsBg-mob1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 480px 496px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prefooter {
    background-image: url(../images/contacts/contactsBg-mob2x.png);
  }
}

@media screen and (min-width: 480px) {
  .prefooter {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .prefooter {
    max-width: 768px;
    background-image: url(../images/contacts/contactsBg-tab1x.png);
    background-size: 768px 449px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prefooter {
    background-image: url(../images/contacts/contactsBg-tab2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .prefooter {
    max-width: 1280px;
    background-image: url(../images/contacts/contactsBg.png);
    background-position: right;
    background-size: calc(50% - 15px);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prefooter {
    background-image: url(../images/contacts/contactsBg-desc2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .prefooter__box {
    display: flex;
  }
}

.appointment {
  /* width: calc(50% + 15px); */
}

@media screen and (min-width: 1200px) {
  .appointment {
    flex-grow: 1;
    padding-right: 40px;
  }
}

.appointment__title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

@media screen and (max-width: 767px) {
  .appointment__title {
    text-align: center;
  }
}

.appointment__form {
  margin-bottom: 44px;
}

.appointment__inputs {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .appointment__inputs {
    display: flex;
    justify-content: space-between;
  }
}

.appointment__field {
  position: relative;
  width: 100%;
  height: 24px;
  margin-bottom: 44px;
}

@media screen and (min-width: 480px) {
  .appointment__field {
    width: 418px;
  }
}

@media screen and (min-width: 768px) {
  .appointment__field {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .appointment__field {
    width: 265px;
  }
}

.appointment__message {
  position: relative;
  height: 76px;
}

.appointment__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--fifth-text-color);
  transition: border-color 300ms;
}

.appointment__input:focus {
  border-color: #ffffff;
}

.appointment__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.07;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform 300ms, color 300ms;
}

.appointment__input:focus + .appointment__label {
  color: #ffffff;
  transform: translateY(-120%);
}

.appointment__input:not(:placeholder-shown) + .appointment__label {
  color: #ffffff;
  transform: translateY(-120%);
}

.appointment__text:focus + .appointment__label {
  color: #ffffff;
  transform: translateY(-120%);
}

.appointment__text:not(:placeholder-shown) + .appointment__label {
  color: #ffffff;
  transform: translateY(-120%);
}

.appointment__text {
  width: 100%;
  height: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--fifth-text-color);
  transition: border-color 300ms;
}

.appointment__text:focus {
  border-color: #ffffff;
}

.appointment__btn {
  /* padding: 12px 38px; */
  color: var(--main-btn-color);
}

@media screen and (max-width: 767px) {
  .appointment__btn {
    margin: 0 auto;
    display: block;
  }
}

.appointment__btn:hover {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  color: var(--main-title-color);
}

@media screen and (max-width: 767px) {
  .contacts__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__box {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__list {
  max-width: 270px;
}

@media screen and (max-width: 767px) {
  .contacts__list {
    margin-bottom: 44px;
    max-width: 418px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-bottom: 70px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: var(--typical-margin);
}

.contacts__link, .contacts__text {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-right: 16px;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .contacts__text-box {
    min-width: 330px;
  }
}

.contacts__top-text {
  margin-bottom: var(--typical-margin);
  color: var(--fifth-text-color);
}

.contacts__link--underline {
  text-decoration: underline;
}

.footer {
  margin: 0 auto;
  background-color: var(--main-bg-color);
  padding-top: 44px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer__box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__box {
    flex-direction: column-reverse;
  }
}

.footer__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .footer__list {
    margin-bottom: 20px;
    align-self: flex-end;
  }
}

.footer__list::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: var(--socials-color);
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--socials-color);
}

.footer__link:hover {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */