:root {
    --header-color: #ffffff;
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --main-btn-color: #ffffff;
    --second-btn-color: #303030;
    --accent-color: #ff6c00;
    --socials-color: #303030;
    --main-text-color: #9DA4BD;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --third-text-color: #555555;
    --fourth-text-color: #303030;
    --fifth-text-color: #ffffff;
    --second-bg-color: #191C26;
    --main-bg-color: #F7F7F7;
    --typical-margin: 20px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.page {
    font-family: "Open Sans", Tahoma, sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.link {
    text-decoration: none;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
    min-width: 160px;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.title {
    font-family: "Raleway", Tahoma, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

/* -------------------header------------------- */

.header {
    max-width: 1280px;
    margin: 0 auto;
    background-color: grey;
    padding-bottom: 32px;
    padding-top: 32px;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 70px;
}

.header-list {
    display: flex;
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-conect {
    margin-left: auto;
}

.header-link,
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
}

.header-link:hover,
.header-tel:hover {
    color: var(--accent-color);
}

.header-btn {
    color: var(--main-btn-color);
    margin-left: 60px;
}

.header-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* -------------------hero------------------- */

.hero {
    max-width: 1280px;
    margin: 0 auto;
}

.hero-box {
    display: flex;
}

.hero-list {
    display: flex;
    gap: 40px;
    width: 93px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #9DA4BD;
}

.hero-content {
    background-color: #111319;
    flex-grow: 1;
    padding: 272px 0 206px 96px;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
        ),
        url(../images/Slider\ img\ 3.jpg);
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--socials-color);
}

.hero-list::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: rgb(68, 255, 0);
    align-self: center;
}

.hero-link:hover {
    color: var(--accent-color);
}

.hero-top-text {
    color: var(--second-text-color);
}

.hero-top-text::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--second-text-color);
    vertical-align: middle;
    margin-right: 20px;
}

.hero-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Raleway", Tahoma, sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  
    color: var(--main-title-color);
}

.hero-bottom-text {
    color: var(--main-text-color);
    max-width: 400px;
}

/* -------------------about------------------- */

.about-box {
    display: flex;
}

.about-list {
    display: flex;
    margin-right: 64px;
    flex-shrink: 0;
}

.about-item + .about-item {
    margin-left: 30px;
}

.about-description {
    max-width: 475px;
}

.about-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fourth-text-color);
}

.about-top-text::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--fourth-text-color);
    vertical-align: middle;
    margin-right: 20px;
}

.about-title {
    margin-bottom: var(--typical-margin);
    color: var(--second-title-color);
}

.about-bottom-text {
    margin-bottom: var(--typical-margin);
    color: var(--third-text-color);
}

.about-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
}

.about-btn {
    color: var(--second-btn-color);
}

.about-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* -------------------prices------------------- */

.prices {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #111319;
    background-image: url(../images/img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prices-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--second-text-color);
}

.prices-top-text::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--second-text-color);
    vertical-align: middle;
    margin-right: 20px;
}

.prices-title {
    margin-bottom: 44px;
    color: var(--main-title-color);
}

.prices-box {
    display: flex;
    margin-bottom: 50px;
}

.prices-list {
    padding: 30px 40px;
    flex-grow: 1;
}

.prices-list:first-child {
    background: linear-gradient(180deg, 
    #171A24 0%, 
    rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:nth-child(2) {
    background: linear-gradient(180deg, 
    #090B13 0%, 
    rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
    display: flex;
    justify-content: space-between;
}

.prices-item:not(:last-child) {
    margin-bottom: var(--typical-margin);
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.prices-btn {
    display: block;
    margin: auto;
    color: var(--main-btn-color);
}

.prices-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* -------------------reasons------------------- */

.reasons-box {
    display: flex;
}

.reasons-list {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.reasons-item {
    width: 170px;
    height: 130px;
    padding: 20px 21px;
    background-color: var(--main-bg-color);
    text-align: center;
}

.reasons-item:nth-child(2n + 1) {
    margin-right: 30px;
}

.reasons-item:nth-child(2n) {
    margin-top: 30px;
}

.reasons-item-count {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--fourth-text-color);
}

.reasons-item-count::after {
    content: "";
    display: inline-flex;
    background-image: url(../images/+.svg);
    width: 9px;
    height: 18px;
    fill: #FF6C00;
    margin-left: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: super;
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--fourth-text-color);
}

.reasons-description {
    padding-left: 30px;
    width: 50%;
}

.reasons-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fourth-text-color);
}

.reasons-top-text::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--fourth-text-color);
    vertical-align: middle;
    margin-right: 20px;
}

.reasons-title {
    margin-bottom: var(--typical-margin);
    color: var(--second-title-color);
}

.reasons-bottom-text {
    color: var(--third-text-color);
    max-width: 500px;
}

/* -------------------masters------------------- */

.masters {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
}

.masters-list {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
}

.masters-item {
    /* flex-basis: calc((100% - 90px) / 3); */
    flex-basis: calc(100% / 3 - 30px );
    margin-left: 30px;
}

/* .masters-item:not(:last-child) {
    margin-right: 30px;
} */

.masters-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fourth-text-color);
}

.masters-top-text::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--fourth-text-color);
    vertical-align: middle;
    margin-right: 20px;
}

.masters-title {
    margin-bottom: 44px;
    color: var(--second-title-color);
}

.masters-name {
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
}

.masters-position {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.masters-socials-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.masters-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #303030;
}

.masters-socials-icon {
    width: 20px;
    height: 20px;
}

.masters-socials-link:hover {
    fill: #ff6c00;
}

/* -------------------portfolio------------------- */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -30px;
    margin-bottom: -30px; */
    gap: 30px;
}

/* .gallery-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
} */

.portfolio-top-text {
    margin-bottom: 44px;
    color: var(--fourth-text-color);
}

.portfolio-top-text::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--fourth-text-color);
    vertical-align: middle;
    margin-right: 20px;
}

/* -------------------prefooter------------------- */

.prefooter {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--second-bg-color);
    background-image: url(../images/contactsBg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.prefooter-box {
    display: flex;
}

.appointment {
    width: calc(50% + 15px); 
}

.appointment-title {
    color: var(--main-title-color);
}

.appointment-btn {
    /* padding: 12px 38px; */
    color: var(--main-btn-color);
}

.appointment-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

.contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
}

.contacts-title {
    margin-bottom: 40px;
    color: var(--main-title-color);
}

.contacts-list {
    max-width: 270px;
    margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
    margin-bottom: var(--typical-margin);
}

.contacts-link,
.contacts-text {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.contacts-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-right: 16px;
    vertical-align: middle;
}

.contacts-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fifth-text-color);
}

.contacts-top-text::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--fifth-text-color);
    vertical-align: middle;
    margin-right: 20px;
}

.contacts-link-underline {
    text-decoration: underline;
}

/* -------------------footer------------------- */

.footer {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-text-color);
}

.footer-list {
    display: flex;
    gap: 40px;
}

.footer-list::before {
    display: inline-flex;
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--socials-color);
    align-self: center;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--socials-color);
}

.footer-link:hover {
    color: var(--accent-color);
}