:root {
    --header-color: #ffffff;
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --main-btn-color: #ffffff;
    --second-btn-color: #303030;
    --accent-color: #ff6c00;
    --socials-color: #303030;
    --main-text-color: #9DA4BD;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --third-text-color: #555555;
    --fourth-text-color: #303030;
    --fifth-text-color: #ffffff;
    --second-bg-color: #191C26;
    --main-bg-color: #F7F7F7;
    --typical-margin: 20px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.page {
    font-family: "Open Sans", Tahoma, sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.link {
    text-decoration: none;
}

.image {
    display: block;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
    cursor: pointer;
    padding: 12px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.title {
    font-family: "Raleway", Tahoma, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

/* -------------------header------------------- */

.header {
    background-color: grey;
    padding-bottom: 32px;
    padding-top: 32px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link,
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
}

.header-link:hover,
.header-tel:hover {
    color: var(--accent-color);
}

.header-btn {
    color: var(--main-btn-color);
}

.header-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* -------------------hero------------------- */

.hero-content {
    padding: 272px 0 206px 96px;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--socials-color);
}

.hero-link:hover {
    color: var(--accent-color);
}

.hero-top-text {
    color: var(--second-text-color);
}

.hero {
    background-color: #303030;
}

.hero-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Raleway", Tahoma, sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  
    color: var(--main-title-color);
}

.hero-bottom-text {
    color: var(--main-text-color);
    max-width: 400px;
}

/* -------------------about------------------- */

.about-box {
    display: flex;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-description {
    padding-left: 64px;
}

.about-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fourth-text-color);
}

.about-title {
    margin-bottom: var(--typical-margin);
    color: var(--second-title-color);
}

.about-bottom-text {
    margin-bottom: var(--typical-margin);
    color: var(--third-text-color);
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
}

.about-btn {
    margin-top: 40px;
    color: var(--second-btn-color);
}

.about-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* -------------------prices------------------- */

.prices {
    background-color: #303030;
}

.prices-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--second-text-color);
}

.prices-title {
    margin-bottom: 44px;
    color: var(--main-title-color);
}

.prices-box {
    display: flex;
}

.prices-list {
    padding: 30px 40px;
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.prices-btn {
    display: block;
    margin: auto;
    margin-top: 50px;
    color: var(--main-btn-color);
}

.prices-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* -------------------reasons------------------- */

.reasons-box {
    display: flex;
}

.reasons-list {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.reasons-item {
    width: 170px;
    height: 130px;
    padding: 20px 21px;
    background-color: var(--main-bg-color);
    text-align: center;
}

.reasons-item:nth-child(2n + 1) {
    margin-right: 30px;
}

.reasons-item:nth-child(2n) {
    margin-top: 30px;
}

.reasons-item-count {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--fourth-text-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--fourth-text-color);
}

.reasons-description {
    padding-left: 30px;
    width: 50%;
}

.reasons-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fourth-text-color);
}

.reasons-title {
    margin-bottom: var(--typical-margin);
    color: var(--second-title-color);
}

.reasons-bottom-text {
    color: var(--third-text-color);
    max-width: 500px;
}

/* -------------------masters------------------- */

.masters {
    background-color: var(--main-bg-color);
}

.masters-list {
    display: flex;
    gap: 30px;
}

.masters-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fourth-text-color);
}

.masters-title {
    margin-bottom: 44px;
    color: var(--second-title-color);
}

.masters-name {
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
}

.masters-position {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* -------------------portfolio------------------- */

.portfolio-list {
    display: flex;
    gap: 30px;
}

.portfolio-top-text {
    margin-bottom: 44px;
    color: var(--fourth-text-color);
}

/* -------------------prefooter------------------- */

.prefooter {
    background-color: var(--second-bg-color);
}

.prefooter-box {
    display: flex;
}

.appointment-title {
    color: var(--main-title-color);
}

.appointment-btn {
    padding: 12px 38px;
    color: var(--main-btn-color);
}

.appointment-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

.contacts {
    max-width: 625px;
    padding-left: 100px;
}

.contacts-title {
    margin-bottom: 40px;
    color: var(--main-title-color);
}

.contacts-link,
.contacts-text {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.contacts-top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fifth-text-color);
}

.contacts-link-underline {
    text-decoration: underline;
}

/* -------------------footer------------------- */

.footer {
    background-color: var(--main-bg-color);
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-text-color);
}

.footer-list {
    display: flex;
    gap: 40px;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--socials-color);
}

.footer-link:hover {
    color: var(--accent-color);
}