@import "./utils/variables";
@import "./base/reset";
@import "./utils/hidden";
@import "./utils/mixins";
@import "./components/container";
@import "./components/section";
@import "./components/btn";
@import "./components/top-text";
@import "./components/bottom-text";
@import "./components/title";
@import "./components/socials-list";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/prices";
@import "./layout/reasons";
@import "./layout/masters";
@import "./layout/portfolio";
@import "./layout/prefooter";
@import "./layout/appointment";
@import "./layout/contacts";
@import "./layout/footer";