:root {
    --header-color: #ffffff;
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --main-btn-color: #ffffff;
    --second-btn-color: #303030;
    --accent-color: #ff6c00;
    --socials-color: #303030;
    --main-text-color: #9DA4BD;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --third-text-color: #555555;
    --fourth-text-color: #303030;
    --fifth-text-color: #ffffff;
    --second-bg-color: #191C26;
    --main-bg-color: #F7F7F7;
    --typical-margin: 20px;
}

.page {
    font-family: "Open Sans", Tahoma, sans-serif;
}