.appointment {
    /* width: calc(50% + 15px); */
    flex-grow: 1; 
    padding-right: 40px;
}

.appointment__title {
    color: var(--main-title-color);
    margin-bottom: 44px;
}

.appointment__form {
    margin-bottom: 44px;
}

.appointment__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.appointment__field {
    position: relative;
    width: 265px;
    height: 24px;
}

.appointment__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: var(--fifth-text-color);

    transition: border-color 300ms;
}

.appointment__label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.07;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);

    transition: transform 300ms, color 300ms;
}

.appointment__input:focus {
    border-color: #ffffff;
}

.appointment__input:focus + .appointment__label{
    color: #ffffff;
    transform: translateY(-120%);
}

.appointment__input:not(:placeholder-shown) + .appointment__label{
    color: #ffffff;
    transform: translateY(-120%);
}

.appointment__message {
    position: relative;
    height: 76px;
}

.appointment__text {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: var(--fifth-text-color);

    transition: border-color 300ms;
}

.appointment__text:focus {
    border-color: #ffffff;
}

.appointment__text:focus + .appointment__label{
    color: #ffffff;
    transform: translateY(-120%);
}

.appointment__text:not(:placeholder-shown) + .appointment__label{
    color: #ffffff;
    transform: translateY(-120%);
}

.appointment__btn {
    /* padding: 12px 38px; */
    color: var(--main-btn-color);
}

.appointment__btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}