.contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
}

.contacts__title {
    margin-bottom: 40px;
    color: var(--main-title-color);
}

.contacts__list {
    max-width: 270px;
    margin-bottom: 70px;
}

.contacts__item:not(:last-child) {
    margin-bottom: var(--typical-margin);
}

.contacts__link,
.contacts__text {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.contacts__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-right: 16px;
    vertical-align: middle;
}

.contacts__top-text {
    margin-bottom: var(--typical-margin);
    color: var(--fifth-text-color);
}

.contacts__link--underline {
    text-decoration: underline;
}