.footer {
    /* max-width: 1280px; */
    margin: 0 auto;
    background-color: var(--main-bg-color);
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-text-color);
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer__list::before {
    content: "";
    height: 1px;
    width: 60px;
    background-color: var(--socials-color);
}

.footer__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--socials-color);
}

.footer__link:hover {
    color: var(--accent-color);
}