.masters {
    margin: 0 auto;
    background-color: var(--main-bg-color);
    &__top-text {
        margin-bottom: var(--typical-margin);
        color: var(--fourth-text-color);
    }
    &__title {
        margin-bottom: 44px;
        color: var(--second-title-color);
    }
    &__list {
        @include media(1199px) {
            margin-bottom: -64px; 
        }
        @include desktop {
            display: flex;
            margin-left: -30px;
            flex-wrap: wrap;
        }
        
    }
    &__name {
        margin-top: 30px;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.39;
        text-align: center;
        letter-spacing: 0.02em;
        color: #303030;
    }
    &__position {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    & .container {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 480px;
        }
    }
}

.masters__item {
    @include media(1199px) {
        margin-bottom: 64px; 
    }
    @include desktop {
        // flex-basis: calc((100% - 90px) / 3);
        flex-basis: calc(100% / 3 - 30px );
        margin-left: 30px;
    }
}