.portfolio__top-text {
    margin-bottom: 44px;
    color: var(--fourth-text-color);
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -30px;
    margin-bottom: -30px; */
    gap: 30px;
}

/* .portfolio__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
} */