.prices {
    min-width: 100%;
    margin: 0 auto;
    background-color: #111319;
    background-image: url(../images/prices/pricesBgmob1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/prices/pricesBgmob2x.png); 
    }
    @include mobile {
        max-width: 480px;
    }
    @include tablet {
        max-width: 768px;
        background-image: url(../images/prices/pricesBgtab1x.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/prices/pricesBgtab2x.png); 
        }
    }
    @include desktop {
        max-width: 1280px;
        background-image: url(../images/prices/pricesBg.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/prices/pricesBgdesc2x.png); 
        }
    }
    &__top-text {
        margin-bottom: var(--typical-margin);
        color: var(--second-text-color);
    }
    &__title {
        margin-bottom: 44px;
        color: var(--main-title-color);
    }
    &__box {
        margin-bottom: 50px;
        @include media(1199px) {
            background: linear-gradient(180deg, 
            #171A24 0%, 
            rgba(23, 26, 36, 0.2) 100%);
        }
        @include desktop {
            display: flex;
        }
    }
}

.prices__list {
    flex-grow: 1;
    padding: 30px 30px;
    @include tablet {
        padding: 30px 40px;
    }
    &:first-child {
        @include media(1199px) {
            padding-bottom: 0;
            margin-bottom: 20px;
        }
        @include desktop {
            background: linear-gradient(180deg, 
            #171A24 0%, 
            rgba(23, 26, 36, 0.2) 100%);
        }
    }
    &:nth-child(2) {
        @include media(1199px) {
            padding-top: 0;
        }
        @include desktop {
            background: linear-gradient(180deg, 
            #090B13 0%, 
            rgba(9, 11, 19, 0.2) 100%);
        }
    }
}

.prices__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &:not(:last-child) {
        margin-bottom: var(--typical-margin);
    }
    &::after {
        content: "";
        background-color: rgba(157, 164, 189, 0.12);
        flex-grow: 1;
        height: 1px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

.prices__item-text {
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    @include tablet {
        font-size: 18px;
    }
    @include media(479px) {
        font-size: 3vw;
    }
    &:last-child {
        order: 1;
    }
}

.prices__btn {
    margin: auto;
    color: var(--main-btn-color);
    &:hover {
        color: var(--main-btn-color);
        background-color: var(--accent-color);
    }
}