.btn {
    min-width: 160px;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}