.socials-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* .socials-list__item + .socials-list__item {
    margin-left: 10px;
} */

.socials-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #303030;
    /* color: #303030; */
}

/* .socials-list__icon {
  fill: currentColor;
} */

.socials-list__icon {
    width: 20px;
    height: 20px;
}

.socials-list__link:hover {
    fill: #ff6c00;
    /* color: #FF6C00; */
}

/* .socials-list__link:hover .socials-list__icon {
    fill: #FF6C00;
} */