.socials-list {
    display: flex;
    gap: 10px;
    justify-content: center;

    // &__item + &__item {
    //     margin-left: 10px;
    // }
}

.socials-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #303030;
    // color: #303030;

    &:hover {
        fill: #ff6c00;
        // color: #FF6C00;
    }
}

.socials-list__icon {
    width: 20px;
    height: 20px;
    // fill: currentColor;
    // .socials-list__link:hover & {
    //     fill: #FF6C00;
    // }
}